{% extends 'base.html.twig' %}

{% block title %}Edit Filiere{% endblock %}

{% block body %}
    <h1>Edit Filiere</h1>

    {{ include('filiere/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
