{% extends 'base.html.twig' %}

{% block title %}Edit Filiere{% endblock %}

{% block body %}
    <h1>Edit Matiere</h1>

    {{ include('matiere/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
